{% extends 'base.html' %}

{% block title%}Reset Complete{%endblock%}
{% block main2 %}
<nav class="navbar navbar-expand-lg   navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#">School System</a><ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a style="color: black;" class="btn btn-primary" href="{% url 'home' %}">Home <span
					class="sr-only">(current)</span>
					<i class="fas fa-home"></i>
        </a>
        <a style="color: black;" class="btn btn-primary" href="{% url 'login' %}">Back<span
          class="sr-only"></span>
          <i class="fas fa-backward"></i>
      </a>
		</li>
	</ul>
</nav>
  <br>
  <br>
  <br>
<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
	</div>
</div>

{% endblock %}